1.	Create a list of five numbers.

In [1]:
sample_list=[1,2,3,4,5]
sample_list

[1, 2, 3, 4, 5]

2.	How would you append the number 6 to the list [1, 2, 3, 4, 5]?

In [2]:
sample_list.append(6)
sample_list

[1, 2, 3, 4, 5, 6]

3.	How would you access the third element in the list ["apple", "banana", "cherry", "date"]?

In [3]:
fruit=["apple", "banana", "cherry", "date"]
fruit[2]

'cherry'

4.	Remove the last item from the list [10, 20, 30, 40].

In [4]:
list1=[10, 20, 30, 40]
list1.pop()

40

In [5]:
list1

[10, 20, 30]

In [6]:
list2=[10, 20, 30, 40]
list2.pop(-1)

40

In [7]:
list2

[10, 20, 30]

5.	Write a Python code to sort the list [4, 1, 8, 5, 2] in ascending order.

In [8]:
list3=[4, 1, 8, 5, 2] #descending->reverse=True
list3.sort()

In [9]:
list3

[1, 2, 4, 5, 8]

6.	Create a list with mixed data types: an integer, a string, and a floating-point number.

In [10]:
lst5=["apple",90,20.24]  # Heterogenous
lst5

['apple', 90, 20.24]

7.	Use list slicing to get the first three elements of the list [10, 20, 30, 40, 50].

In [11]:
list_slice = [10, 20, 30, 40, 50]
list_slice[0:3]

[10, 20, 30]


8.	Count how many times the number 3 appears in the list [1, 3, 3, 5, 7].

In [13]:
list1=[1, 3, 3, 5, 7]
list1.count(3)

2

9.	Write a Python code to merge the lists [1, 2] and [3, 4] into one list.

In [14]:
list1=[1, 2]
list2=[3,4]
list3=list1+list2
list3

[1, 2, 3, 4]

10.	How would you clear all the items in the list ["a", "b", "c", "d"]?

In [15]:
list8= ["a", "b", "c", "d"]
list8.clear()
print(list8)

[]