1.	Create a tuple with three colors: "red", "green", and "blue".

In [1]:
t="red","green","blue"
print(t)
type(t)

('red', 'green', 'blue')

tuple

2.	How would you access the second element in the tuple (1, 2, 3)?

In [2]:
samp_tuple=(1, 2, 3)
samp_tuple[1]

2

3.	Can you change the value of an element in a tuple? Explain.

In [3]:
samp_tuple[1]=10 

#### Tuple is immutable

TypeError: 'tuple' object does not support item assignment

4.	Write a Python code to find the length of the tuple ("a", "b", "c", "d", "e").

In [4]:
c=("a", "b", "c", "d", "e")
len(c)

5

5.	Convert the tuple (1, 2, 3) into a list.

In [10]:
t4=(1, 2, 3) 
l=list(t4)
l
###type(l)

[1, 2, 3]

In [8]:
d=(1, 2, 3) 
e=[d]
e
##type(e)

[(1, 2, 3)]

6.	How would you concatenate the tuples (1, 2) and (3, 4)?

In [11]:
MyTp3 = (1,2)
MyTp4 = (3,4)
MyTp5 = MyTp3 + MyTp4
MyTp5

(1, 2, 3, 4)

7.	Check if the value "apple" exists in the tuple ("orange", "apple", "banana").

In [12]:
tup=("orange","apple","banana")
print("apple" in tup)

True

8.	Write a Python code to get the last item of the tuple (100, 200, 300, 400).

In [13]:
l=(100, 200, 300, 400)
l[-1]

400

9.	Use tuple unpacking to assign the values (10, 20, 30) to three variables.

In [16]:
t=(10, 20, 30) 
(a, b, c) = t
print(a)
print(b)
print(c)

10
20
30

10.	How would you convert a list [5, 10, 15] into a tuple?

In [14]:
a=[5, 10, 15]
b=tuple(a)
b

(5, 10, 15)

In [15]:
type(b)

tuple